-r requirements.txt

# development tools
Werkzeug==0.15.4
django-debug-toolbar==1.11

# python shell
ipython==7.5.0

# documentation
Sphinx==2.1.1
docutils==0.14
sphinx-rtd-theme==0.4.3

# Testing
WebTest==2.0.33
django-webtest==1.9.6
factory-boy==2.12.0
selenium==3.141.0
splinter==0.10.0

# pytest & plugins
pytest==4.6.3
pytest-cache==1.0
pytest-cov==2.7.1
pytest-django==3.5.0
pytest-splinter==2.0.1

# Coverage testing
coverage==4.5.3
coveralls==1.8.0

honcho
flake8
