-r requirements.txt

# development tools
Werkzeug==0.16.0
django-debug-toolbar==2.0

# python shell
ipython==7.9.0

# documentation
Sphinx==2.2.1
docutils==0.15.2
sphinx-rtd-theme==0.4.3

# Testing
WebTest==2.0.33
django-webtest==1.9.7
factory-boy==2.12.0
selenium==3.141.0
splinter==0.11.0

# pytest & plugins
pytest==5.2.2
pytest-cache==1.0
pytest-cov==2.8.1
pytest-django==3.7.0
pytest-splinter==2.0.1

# Coverage testing
coverage==4.5.4
coveralls==1.8.2

honcho
flake8
